<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<!--    设置log4j-->
	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>
	
	<!--    配置别名-->
	<typeAliases>
		<package name="com.wlp.bean"/>
	</typeAliases>
	
	<!--  配置类型处理器  -->
	<typeHandlers>
	
	</typeHandlers>
	
	<!--    添加补丁-->
	<plugins>
		<!--    分页5.0以上如下配置    -->
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<property name="reasonable" value="true"/>
		</plugin>
	</plugins>

</configuration>
